@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat+Alternates&family=Piazzolla:wght@900&family=Poppins&family=Source+Code+Pro:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: blue;
}


.main {
    width: 400px;
    height: 90vh;
    margin: auto;
    border-radius: 10px;
    background-color: #085899;
}

.searchbar input {
    width: 320px;
    height: 7vh;
    background-color: #6c678d;
    text-align: center;
}

::placeholder {
    color: white;
}

.search {
    right: 492px;
    top: 115.5px;
}

.mainsearch {
    display: flex;
}

.search button {
    background: transparent;
    width: 65px;
    height: 7vh;
    margin-left: 10%;
    cursor: pointer;
    background-color: #6c678d;
}

.search button img {
    width: 30px;
    color: white;
    height: 30px;
}

.topbar {
    width: 400px;
}

.topbar>h1 {
    font-family: 'Ysabeau SC', sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    height: 10vh;
    padding: 20px 0;
    background-color: #085899;
    color: rgb(229, 255, 0);
}

.buttombar {
    visibility: hidden;
    color: white;
    text-align: center;
}

.buttombar1 {
    visibility: visible;
    color: white;
    text-align: center;
}

.buttombar1 h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
}

.buttombar1 img {
    width: 70px;
    height: 70px;
}

.buttombar1 h3 {
    font-size: 40px;
}

.buttoncontent {
    display: flex;
    margin-top: 50px;
}

.buttoncontent > .humadity {
    margin-left: 15px;
    display: flex;
}

#t5{
    display:flex ;
}
#t5 p{
    margin-top: 10px;
    font-size: 15px;
    width: 100px;
}

#t6{
    display:flex ;
}

#t6 p{
    margin-top: 4px;
    font-size: 15px;
    width: 100px;
} 

#weatherIconsss{
    display: flex;
    width: 30px;
    height: 30px;
}
#weatherIconss{
    display: flex;
    width: 40px;
    height: 40px;
}

.buttoncontent .wind {
    margin-left: 130px;
}

.wind_dir{
    margin-top: 70px;
    font-size: 30px;
}
/* Media queries */

@media (max-width: 534px) {
    .main {
        margin-left: 0%;
        background-color: #085899;
        height: 100vh;
    }

    .topbar>h1 {
        margin-top: 0;
        height: 5vh;
        padding: 5px 0;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .searchbar input {
        width: 323px;
        height: 7vh;
        background-color: #6c678d;
        text-align: center;
        font-size: 20px;
    }
    .search button {
        height: 7vh;
    }
    .search button svg {
        height: 4vh;
    }
}
